<form id="search-bar" method="GET" action="{% url 'search_results' %}">
    <div id="search-dropdown" class="dropdown">
        <button type="button" id="search-dropdown-button" class="dropdown-button">
            <span id="search-dropdown-button-text">Keyword</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </button>
        <div id="search-dropdown-options" class="dropdown-options">
            <a href="#" class="search-dropdown-item" data-value="Keyword">Keyword</a>
            <a href="#" class="search-dropdown-item" data-value="Tag">Tag</a>
            <a href="#" class="search-dropdown-item" data-value="Title">Title</a>
            <a href="#" class="search-dropdown-item" data-value="Author">Author</a>
            <a href="#" class="search-dropdown-item" data-value="Subject">Subject</a>
        </div>
    </div>

    {{ forms.search_form}}

    <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
    <button type="button" id="close-search-bar-button">✖</button>
</form>
<!-- For responsive styling -->
<button type="button" id="open-search-bar-button"><i class="fa fa-search"></i></button>