<template id="deletable-tag-template"> <!-- Hidden from users (Need this for JavaScript) -->
    {% include 'components/tag_deletable.html' %}
</template>



<div id="add-tags-overlay"></div> <!-- id so overlay behaves differently from report-tag-overlay -->

<dialog id="add-tags-modal"> <!-- TODO -->
    <div class="header-with-x-button">
        <h1>Your tags for: <b id="saving-item-title">[Item Title]</b></h1>
        <button id="close-tag-modal-button" class="close-x-button" aria-label="Close tag panel">✖</button>
    </div>

    <div id="tagging-section">

        <div id="public-tags-section">
            <div class="tag-section-header">
                <h2>Public Tags</h2>

                <div class="tooltip">
                    <i id="public-tags-tooltip" class="fa fa-question-circle" aria-label="Tooltip for public tags" tabindex="0"></i>
                    <div class="tooltip-bubble yellow-bubble bubble-on-right">
                        <div class="bubble-tail-outline"></div>
                        <div class="bubble-tail"></div>
                        <div class="bubble-content">
                            <p><b>Public tags</b> are visible to everyone on the site.</p>
                            <p>Public tags are used to help people find items and/or understand what it's about.</p>
                        </div>
                    </div>
                </div>

                <div id="total-points-section">
                    <span>Total points: </span>
                    <span id="total-points-earned"></span> <!-- Set using JavaScript -->
                </div>
            </div>

            <div class="tag-input-section">
                <input id="public-tags-input" type="text" placeholder="Add tags..."/>
                <span id="animated-tag-score"></span> <!-- Set to +[Score] in JavaScript -->
            </div>

            <div id="public-tags-list-container" class="tag-list-container">
                <!-- Filled using JavaScript -->
            </div>
        </div>

        <div id="private-tags-section">
            <div class="tag-section-header">
                <h2>Private Tags</h2>

                <div class="tooltip">
                    <i id="private-tags-tooltip" class="fa fa-question-circle" aria-label="Tooltip for private tags" tabindex="0"></i>
                    <div class="tooltip-bubble yellow-bubble bubble-on-right">
                        <div class="bubble-tail-outline"></div>
                        <div class="bubble-tail"></div>
                        <div class="bubble-content">
                            <p><b>Private tags</b> are only visible to you from the "Saved Items" page in your account.</p>
                            <p>Private tags can help you organize your saved items using words that make sense to you.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tag-input-section">
                <input id="private-tags-input" type="text" placeholder="Add tags..."/>
                <!-- Private tags do NOT give points -->
            </div>

            <div id="private-tags-list-container" class="tag-list-container">
                <!-- Filled using JavaScript -->
            </div>
        </div>
    </div>

    <div id="add-tags-modal-footer">
        <button id="cancel-tags-modal-button" class="modal-footer-button">Cancel</button>
        <button id="save-tags-button" class="modal-footer-button">Save</button> <!-- Submits the form via JavaScript -->
        <button id="unpin-item-button" class="modal-footer-button">Unpin</button> <!-- Submits the form via JavaScript -->
    </div>

    <!-- NOT VISIBLE -->
    <form id="user-tags-form" method="POST">
        {% csrf_token %}
        {{ forms.tags_form }}
    </form>
</dialog>

