html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column; /* Main axis = Vertical */
    height: 100vh;
    background-color: #F7F7F7;
    margin: 0px;
}

* {
    font-family: "Roboto", serif;
    font-weight: 300; /* Regular roboto = 400 */
    font-style: normal;
    color: black;
}

b, strong {
    font-weight: 500;
}
/**********************************************************************************************************************/
/* TAGS */
.tag {
    min-height: fit-content;
    max-width: 100%;
    background: url('../icons/tag.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    margin: 5px 5px;
    padding: 10px 25px 10px 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.deletable-tag {
    display: inline-grid;
    column-gap: 5%;
    grid: auto / 90% 5%;
    align-items: center;
}

.tag-text {
    min-width: 95%;
    width: 100%;
    overflow-wrap: break-word;
    color: white;
    font-size: 1.1rem;
    text-align: left;
    float:left;
}

.tag:hover {
    transform: scale(1.05);
}

.tag:before {
    content: "";
    position: absolute;
    height: 200%;
    width: 50px;
    transform: rotate(20deg);
    background-color: rgba(255, 255, 255, 0.2);
    left: -100px;
    top: -25px;
}

.tag:hover:before {
    transition: left 0.7s ease;
    left: 110%;
}

/**********************************************************************************************************************/
/* DROPDOWN MENUS (GENERAL - CAN BE OVERWRITTEN FOR SPECIFIC MENUS) */
.dropdown-button {
    background-color: #537A00;
    color: white;
    font-size: 1.3em;
    border: solid #3B6000 1px;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.dropdown-button:hover, .dropdown-button:focus {
    background-color: #3B6000;
}

/* Applies to the dropdown-button only when "show" class is added to dropdown-options */
.dropdown-button:has(~.show) {
    border-radius: 10px 10px 0px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Hidden by Default */
.dropdown-options {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 10px 10px;
}

.dropdown-options > * {
    display: block;
    margin: 0px;
    padding: 12px 16px;
    background-color: white;
    border: solid #3B6000 1px;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

.dropdown-options > *:last-of-type {
    border-radius: 0px 0px 10px 10px;
}

/* Change color of dropdown links on hover */
.dropdown-options > *:hover {
    background-color: #E0EEAC;
}

/* Show the dropdown menu ("show" class added to .dropdown-options using JavaScript */
.show {
    display:block;
}

/**********************************************************************************************************************/
/* TOP BAR */
#top-bar {
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; /* Main axis = Horizontal */
    justify-content: space-between; /* Alignment on horizontal (main) axis */
    align-items: center; /* Alignment on vertical (cross) axis */
    padding: 1vh 1vw;
    gap: 3%;
}

/********************************************/
/* TOP BAR - LOGO */
#return-to-homepage {
    height: 100%;
}

#top-bar-logo {
    height: 90%;
}

/********************************************/
/* TOP BAR - SEARCH BAR */
/* Some attributes overwritten in homepage.css */
#search-bar {
    height: 40px;
    display: flex;
    flex-direction: row; /* Main axis = Horizontal */
    justify-content: start; /* Alignment on horizontal (main) axis */
    align-items: stretch; /* Alignment on vertical (cross) axis */
    column-gap: 10px;
    width: 100%;
}

#search-dropdown {
    width: 150px;
}

#search-dropdown-button {
    font-size: 1.1em;
}

.search-dropdown-item {
    font-size: 1em;
}

#search-type-select {
    display: none;
}

div:has(>#search-input) { /* Because Django puts every field in its own div... */
    width: 40%;
    display: flex;
}

#search-input {  /* Text input field */
    width: 100%;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 10px;
}

#search-button {
    width: 40px;
    font-size: 1.3em;
    border-radius: 10px;
    border: solid black 1px;
}

/********************************************/
/* TOP BAR - SIGNUP/LOGIN LINKS || ACCOUNT DROPDOWN */
#signup-login-block, #account-dropdown {
    margin-right: 25px;
    margin-left: auto; /* Aligns to far right of top-bar */
    font-size: 1.5em;
    white-space: nowrap;
    text-align: right;
}

#signup-login-block a {
    text-decoration: none;
}

#signup-login-block a:hover {
    color: #537A00;
    text-decoration: underline;
}

#account-dropdown-button {
    background-color: transparent;
    border-color: transparent;
    color: #3B6000;
    font-size: 1em;
    min-width: 215px;
    padding: 5px 30px 5px 20px;
    display: flex;
    flex-direction: row; /* Main axis = Horizontal */
    align-items: center;
    gap: 15px;
}

/* Keep focus styling even if click out of window if dropdown-options are shown */
#account-dropdown-button:focus,
#account-dropdown-button:has(~.show) {
    background-color: #3B6000;
    border-color: #3B6000;
    color: white;
}

.fa-user-circle {
    color: #3B6000;
    background-color: white;
    border: solid 1px #F7F7F7;
    border-radius: 50%;
    font-size: 1.7em;
}

#account-dropdown-options a {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#account-dropdown-options a:hover {
    text-decoration: none;
    color: black;
}

#account-dropdown-options i {
    color: #537A00;
    font-size: 1.2em;
}

/**********************************************************************************************************************/
/* FOOTER */
#footer {
    height: 30px;
    padding: 5px 10px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; /* Main axis = Horizontal */
    align-items: center; /* Alignment on vertical (cross) axis */
    column-gap: 10px;
}

#footer a, #footer span {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}




