main {
    flex-grow: 1; /* Take up all available space between top bar and footer */
    display: flex;
    flex-direction: column; /* Main axis = Vertical */
    padding: 10vh 0px;
}

#logo {
    width: 60vw;
    max-width: 400px;
    align-self: center;
}

#slogan {
    text-align: center;
    font-size: 2em;
    margin: 20px 20px 5vh 20px;
}

#search-bar {
    height: 50px;
    justify-content: center;
}

#search-dropdown {
    width: 165px;
}

#search-dropdown-button {
    font-size: 1.3em;
}

.search-dropdown-item {
    font-size: 1.1em;
}

#search-input {
    font-size: 1.3em;
}

#search-button {
    width: 50px;
    font-size: 1.5em;
}










