.result-item {
    box-sizing: border-box;
    height: fit-content;
    padding: 20px 30px;
    border-radius: 20px;

    & .item-data-section {
        height: 22vh;
        min-height: 200px;
        display: flex;
        flex-direction: row; /* Main axis = Horizontal */
        gap: 20px;
    }
}

.cover-container {
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    aspect-ratio: 1/1.5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 8px;
}

.result-cover {
    height: 100%;
    width: 100%;
    color: #8A8A8A; /* Text color if no cover found */
    display: flex;
    align-items: center;
    justify-content: center; /* Center-align text if no cover found */
}

.pin-item-button { /* Partially overrides styling in global.css */
    width: 225px;
    height: 20%;
    margin: 20px 0px 10px 0px;
    padding: 25px 30px 25px 25px;
    flex-shrink: 0;
    & span {
        flex-grow: 1;
    }
}

.result-text-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Main axis = Vertical */
    overflow: hidden;
    font-size: 1.5em;
    gap: 10px;
    padding: 10px 0px;
}

.result-text-info * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.result-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 5px 0px;
}

.result-title:hover, .result-title:focus {
    color: #537A00;
    text-decoration: underline;
}

.result-authors {
    margin: 0;
}

.result-pub-date {
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* VISIBLE IN PINNED ITEMS PAGE ONLY */

.user-tags-section {
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: calc(max(calc(22vh / 1.5), calc(200px / 1.5)) + 20px);
    /*
    - Margin-left is always == width of cover-container + gap of .item-data-section
    - Use margin-left instead of position: relative + left --> so that width doesn't exceed parent container
    */
    padding: 10px 0px;
    border-top: solid 1px #8A8A8A;
    display: flex;
    flex-direction: row;

    &:last-of-type {
        border-bottom: solid 1px #8A8A8A;
    }

    & > p {
        margin: 0px;
        font-weight: 500;
        font-size: 1.5rem;
        white-space: nowrap;
        min-width: 150px;

    }

    & .tag-list-container {  /* Override styling from tag_modal.css */
        height: fit-content;
        padding: 0px;

    }
}
