main {
    display: flex;
    flex-direction: row; /* Main axis = Horizontal */
    border-top: solid 1px #8A8A8A;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* SIDE BAR (SYNONYMOUS & RELATED TAGS) */
#sidebar {
    height: 100%;
    width: 15%;
    padding: 1vh 1vw;
    border-right: solid 1px #8A8A8A;
    overflow: hidden; /* TODO: Figure out how to adapt this when browser width is small */

    & .tag-container {
        display: flex;
        flex-direction: column; /* Main axis = Vertical */
        align-items: left;
        gap: 10px;
    }
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* RESULTS SECTION */
#results-section {
    box-sizing: border-box; /* Height & Width include padding */
    height: 100%;
    width: 85%;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* -----------(RESULTS) HEADER--------------*/
#results-header {
    width: 100%;
    display: flex;
    flex-direction: row; /* Main axis = Horizontal */
    align-items: center;
    white-space: nowrap;
    margin-top: 10px;
}

#results-header h1 {
    flex-grow: 1;
    margin: 0;
}

/* TODO: Remove once switch to pagination.css */
#results-header p {
    margin: 0px 20px;
    font-size: 1.1em;
}

#results-header a {
    width: 50px;
    height: 35px;
    font-size: 2em;
    text-decoration: none;
    background-color: transparent;
    border: solid 1px #8A8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#results-header a:hover {
    background-color: #8A8A8A;
}

#results-header a:hover > i {
    color: white;
}

.top-prev-page {
    border-radius: 5px 0px 0px 5px;
}

.top-next-page {
    border-radius: 0px 5px 5px 0px;
}

/* -----------MAIN LIST--------------*/
#results-list {
    flex-grow: 1; /* Occupy all remaining available height */
    width: 100%;
    display: flex;
    flex-direction: column; /* Main axis = Vertical */
    gap: 10px;
}

/* Rest of styling in item_result.css */
