main {
    display: grid;
    grid: auto auto auto / calc(50% - 1px) 2px calc(50% - 1px);
    grid-auto-flow: column;
    justify-items: center; /* Horizontally center items inside each cell */
    align-content: center; /* Vertically align the entire grid to the center of <main> */
    align-items: center; /* Vertically center items inside each cell */
    padding: 8% 2vw;
}

#divider {
    grid-row: 1 / 4; /* Make the divider span 3 rows (i.e., start at row 1 and end at (beginning of) row "4") */
    border: solid #8A8A8A 1px;
    height: 120%;
    width: auto;
    margin: 0px;
}

form {
    display: contents;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 0px;
}

.form-inputs-section {
    width: 100%;
    display: flex;
    flex-direction: column; /* Main axis = Vertical */
    align-items: center;

    & .form-line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    & input {  /* Override input[type="text/password/email"] styling in global.css */
        width: 50%;
        border-radius: 8px;
        margin: 1.5vh;
    }
}

.submit-buttons {
    min-width: fit-content;
    width: 20%;
    padding: 10px 30px;
    margin: 10px;
    color: white;
    background-color: #537A00;
    border: solid #3B6000 1px;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.submit-buttons:hover {
    background-color: #3B6000;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* All django form input divs followed with direct .tooltip child */
div:has(>.tooltip) {
    position: relative;  /* So can absolution position .tooltip */
    display: flex; /* To vertical align the tooltip icons */
    flex-direction: row; /* Main axis = Horizontal */
    align-items: center;
}

#signup-form .tooltip {
    position: absolute; /* Override position: relative (global.css) */
    left: calc(75% + 15px); /* 75% == Right edge of input field (25% + 50%) + 15px gap */
}

#login-form .tooltip {
    position: absolute; /* Override position: relative (global.css) */
    right: calc(75% + 15px); /* 75% == Left edge of input field (25% + 50%) + 15px gap */
}

.fa-exclamation-triangle {
    font-size: 1.5rem;
    color: #B52801;
}

ul.bubble-content { /* ul content of tooltip bubble */
    list-style-type: none;

    & li {
        margin: 0 0 10px 0;
    }

    & li:last-child {
        margin: 10px 0px 0px 0px;
    }

    & li:only-child {
        margin: 0;
    }
}

/**********************************************************************************************************************/
/* RESPONSIVE STYLING */
@media (orientation:portrait) { /* When viewport width < viewport height (e.g., mobile) */
    main {
        grid: auto / auto;
        grid-auto-flow: row;
    }

    #divider {
        grid-row: unset;
        border: solid #8A8A8A 1px;
        height: auto;
        width: 90%;
        margin: 50px 0px;
    }
}
