main {
    display: flex;
    flex-direction: row; /* Main axis = Horizontal */
    border-top: solid 1px #8A8A8A;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* PROFILE SECTION (MAIN CONTENT) */
#profile-content {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 25px;
    display: grid;
    grid: min-content / calc(50% - 15px / 2) calc(50% - 15px / 2);
    grid-gap: 15px;

    & h1 {
        margin: 0;
        font-weight: 400;
    }
}

.content-box {  /* Extends global.css */
    display: flex;
    flex-direction: column; /* Main axis = Vertical */
    align-items: start;
}

/* ------------------------------------------------------------*/
/* PROGRESS SECTION  */
#progress-section {
    container-type: inline-size;
    container-name: progress;
}

#progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row; /* Main axis = Horizontal */
    position: relative; /* So can position end-tickmark & current-progress-bar relative to progress bar */

    &::before {  /* Background of progress bar */
        content: "";
        width: inherit;
        height: 25px;
        background-color: #D9D9D9;
        position: absolute;
        bottom: 0;
    }
}

#current-progress-bar {
    position: absolute;
    /* width set in JavaScript (user_profile.js) */
    height: 25px;
    background-color: #C9960A;
    bottom: 0;
}

.tickmark {
    height: 75px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column; /* Main axis = Horizontal */
    align-items: center;
    justify-content: end;
    position: relative; /* So can position icons relative to tickmark */

    & span {
        font-weight: 400;
        position: relative; /* So can use JavaScript to reposition if overlap */
    }

    & i { /* Place icons (e.g., gift icon) above tickmark number */
        position: absolute;
        font-size: 1.8rem;
        top: -20px;
    }

    &::after {  /* Vertical line part of the tickmark */
        content: "";
        height: 35px;
        width: 2px;
        background-color: black;
    }

    &:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
        /* Further position towards the right by 50% of its own width (i.e., centers tickmark on edge of background progress bar */
        transform: translate(50%, 0);
    }
}

#start-tickmark {
    /* Further position towards the left by 50% of its own width (i.e., centers tickmark on edge of background progress bar */
    transform: translate(-50%, 0);
}

#progress-info-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 15px;

    & span:not(.reward-title span) {  /* Does not apply to spans inside reward-titles */
        font-size: 1.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}

/* ------------------------------------------------------------*/
/* EQUIPPED TITLES SECTION  */
#equipped-titles-section {
    container-type: inline-size; /* For adaptive styling (see end of this file) */
    container-name: equipped-titles;
}

#equipped-titles-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    & .tooltip i {
        font-size: 1.5em;
        color: #959595;
    }
}

#equipped-titles-content {
    box-sizing: border-box; /* Sizing includes padding */
    flex-grow: 1; /* Occupy remaining height */
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;

    & .dropdown-options {
        border-color: #8A8A8A;
    }
}

.equipped-title-widget {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: grid;
    grid: auto / auto min-content;
    align-items: center;
    gap: 15px;
}

.dropzone.hovered {
    & .empty-equip {
        border-color: #006996;
        background-color: rgba(0, 105, 150, 0.25); /* Same blue colour, but more transparent */
    }

    & > .reward-title::after {
        content: "";
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        position: absolute;
        border: dashed 2px #006996;
        border-radius: 10px;
        background-color: rgba(0, 105, 150, 0.25); /* Same blue colour, but more transparent */
    }
}

.empty-equip {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 5px 15px 5px 15px;
    border: dashed 2px #8A8A8A;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & span {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 1.1em;
    }
}

.dropdown-options > .reward-title { /* Reward titles in the dropdown options menu */
    display: flex; /* Override ".dropdown-options > *" styling from global.css */
    padding: 5px 20px 5px 10px;
    border-radius: 0;
    border: none;

    &:hover {
        cursor: pointer;
        border: solid 2px white;
    }
}

.dropdown-options > .empty-equip { /* "Empty" option in the dropdown options menu */
    display: flex; /* Override ".dropdown-options > *" styling from global.css */
    border: none;
    &:hover {
        border: solid 2px #8A8A8A;
        background-color: white;
    }
}

/* Applies to the .empty-equip or > .reward-title only when "show" class is added to dropdown-options */
.dropdown:has(>.show) .dropzone > .empty-equip, .dropdown:has(>.show) .dropzone > .reward-title {
    border-radius: 10px 10px 0px 0px;
}


/* ------------------------------------------------------------*/
/* EARNED TITLES SECTION  */
#earned-titles-section {
    grid-column: 1 / 3; /* Span 2 columns */
}

#earned-titles-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    gap: 15px;
    box-sizing: border-box;

    & .reward-title {
        cursor: grab;
    }
}

/**********************************************************************************************************************/
/* RESPONSIVE STYLING */
@media (orientation:portrait) { /* When viewport width < viewport height (e.g., mobile) */
    main {
        flex-direction: column; /* Main axis = Vertical */
    }

    #progress-info-line {
        flex-direction: column;
    }

    #equipped-titles-content {
        flex-direction: column;
        /*padding: 20px 0%;
        gap: 5%;*/
    }
}

@media (width < 1700px) {
    #profile-content {
        grid: min-content min-content auto / auto;
    }

    #earned-titles-section {
        grid-column: 1 / 2;
    }
}


@container progress (width < 575px) {
    #progress-info-line {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
}

@container progress (width < 400px) {
    #progress-info-line > span:last-child {
        flex-direction: column !important;
    }
}

@container equipped-titles (width > 900px) {
    #equipped-titles-content {
        padding: 20px 15%;
    }
}

@container equipped-titles (width < 640px) {
    #equipped-titles-content {
        flex-direction: column;
        padding: 20px 15%;
        gap: 20px;
        /*padding: 20px 0%;
        gap: 5%;*/
    }
}

@container equipped-titles (width < 400px) {
    #equipped-titles-content {
        flex-direction: column;
        padding: 20px 0%;
    }
}





