<!DOCTYPE html>
<html lang="en ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TagMe: Sign Up | Login</title>

    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Font Awersome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/CSS/global.css">
    <link rel="stylesheet" href="../static/CSS/signup_login.css">
</head>

<body>
    {% include "global_top_bar.html" %}

    <main>
        <form id="signup-form" method="post">
            <h1>Sign Up</h1>
            <div class="form-inputs-section">
                {% csrf_token %}
                {% for field in forms.signup_form %}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            <i class="fa fa-exclamation-triangle sign-up" aria-label="Form input error" tabindex="0"></i>
                            <div class="triangle-outline sign-up"></div>
                            {{ field.errors }}
                            <div class="triangle sign-up"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="submit-buttons" name="signup-submit" value="Create Account"/>
        </form>

        <div id="divider"></div>

        <form id="login-form" method="post">
            <h1>Log In</h1>
            <div class="form-inputs-section">
                {% csrf_token %}
                {% for field in forms.login_form %}
                    <div>
                        {% if field.errors %}
                            <i class="fa fa-exclamation-triangle login" aria-label="Form input error" tabindex="0"></i>
                            <div class="triangle-outline login"></div>
                            {{ field.errors }}
                            <div class="triangle login"></div>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="submit-buttons" name="login-submit" value="Log In"/>
        </form>

    </main>

    {% include "global_footer.html" %}
</body>
</html>