<div id="top-bar">
    <div id="top-right-block">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
            <button onclick="openAccountDropdown()" id="account-dropdown-button" class="dropdown-button">Username</button>
            <div id="account-dropdown-options" class="dropdown-options">
                <p>My Profile</p>
                <p>Saved Items</p>
                <p>Account Settings</p>
                <p>Log Out</p>
            </div>
        </div>
        {% else %}
            <a href="signup-login" aria-label="Sign up">Sign Up</a>
            <span>|</span>
            <a href="signup-login" aria-label="Login">Login</a>
        {% endif %}
    </div>
</div>